@import 'variables';
@import 'mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-family ;
    font-family: $font-size ;
    background-color: #f4f4f4;
    height: 100vh;
    @include center;
}

.container {
    width: 100%;
    height: 100%;
    background-color: $primary-color-300;
    @include center;

}

.card {
    background-color: $white;
    box-shadow: 0px 4px 0px 4px rgba($color: #000, $alpha: 0.025);
    border-radius: 20px;
    width: 320px;
    height: 499px;
    @include center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
    gap: 24px;

    &-image img {
        object-fit: cover;
        width: 288px;
        height: 288px;
        border-radius: 10px;
    }

    &-text {
        width: 288px;
        text-align: center;
        margin: 0 16px;

        h3 {
            font-weight: $font-weight-700;
            color: $primary-color-900;
            font-size: 22px;
            line-height: 1.2;
            margin-bottom: 16px;
        }

        p {
            font-weight: $font-weight-400;
            color: $primary-color-500;
            font-size: $font-size;
            line-height: 1.4;
            letter-spacing: 0.2px;
            margin-bottom: 40px;
        }
    }
}