$white :hsl(0, 0%, 100%);
$primary-color-300 : hsl(212, 45%, 89%);
$primary-color-500 : hsl(216, 15%, 48%);
$primary-color-900 : hsl(218, 44%, 22%);
$font-size: 15px;
$font-weight-400: 400;
$font-weight-700: 700;
$font-size: 15px;
$font-family: 'Outfit', sans-serif;